src/aggregation-lib/src/main/resources/santander-accounts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:v1="http://www.isban.es/webservices/BAMOBI/Cuentas/F_bamobi_cuentas_lip/internet/BAMOBICTA/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="santander-accounts"
	targetNamespace="http://www.isban.es/webservices/BAMOBI/Cuentas/F_bamobi_cuentas_lip/internet/BAMOBICTA/v1">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.isban.es/webservices/BAMOBI/Cuentas/F_bamobi_cuentas_lip/internet/BAMOBICTA/v1">

			<xsd:include schemaLocation="santander.xsd" />
			

			<xsd:element name="listaMovCuentas_LIP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="entrada" type="v1:ListTransactionsRequest" />
					</xsd:sequence>
					<xsd:attribute name="facade" use="optional" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listaMovCuentas_LIPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ListTransactionsRequest">
				<xsd:sequence>
					<xsd:element name="datosCabecera" type="v1:HeaderDataEntity">
					</xsd:element>
					<xsd:element name="datosConexion" type="v1:UserDataEntity"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="listaMovCuentas_LIPRequest">
		<wsdl:part element="v1:listaMovCuentas_LIP" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listaMovCuentas_LIPResponse">
		<wsdl:part element="v1:listaMovCuentas_LIPResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="santander-accounts">
		<wsdl:operation name="listaMovCuentas_LIP">
			<wsdl:input message="v1:listaMovCuentas_LIPRequest" />
			<wsdl:output message="v1:listaMovCuentas_LIPResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="santander-accountsSOAP" type="v1:santander-accounts">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listaMovCuentas_LIP">
			<soap:operation
				soapAction="http://www.isban.es/webservices/BAMOBI/Cuentas/F_bamobi_cuentas_lip/internet/BAMOBICTA/v1/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="santander-accounts">
		<wsdl:port binding="v1:santander-accountsSOAP" name="santander-accountsSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
