src/aggregation-lib/src/main/resources/santander-login.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:v1="http://www.isban.es/webservices/TECHNICAL_FACADES/Security/F_facseg_security/internet/loginServicesNSegSAN/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="santander"
	targetNamespace="http://www.isban.es/webservices/TECHNICAL_FACADES/Security/F_facseg_security/internet/loginServicesNSegSAN/v1">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.isban.es/webservices/TECHNICAL_FACADES/Security/F_facseg_security/internet/loginServicesNSegSAN/v1">
			<xsd:complexType name="CB_AuthenticationData">
				<xsd:sequence>
					<xsd:element name="password" type="xsd:string"></xsd:element>
					<xsd:element name="documento" type="v1:DocumentoEntity"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DocumentoEntity">
				<xsd:sequence>
					<xsd:element name="CODIGO_DOCUM_PERSONA_CORP" type="xsd:string">
					</xsd:element>
					<xsd:element name="TIPO_DOCUM_PERSONA_CORP" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AuthenticateCredentialResponse">
				<xsd:sequence>
					<xsd:element name="tokenCredential" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="authenticateCredentialRequest">
		<wsdl:part name="CB_AuthenticationData" type="v1:CB_AuthenticationData" />
		<wsdl:part name="userAddress" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="authenticateCredentialResponse">
		<wsdl:part name="methodResult" type="v1:AuthenticateCredentialResponse" />
	</wsdl:message>
	<wsdl:portType name="santander-login">
		<wsdl:operation name="authenticateCredential">
			<wsdl:input message="v1:authenticateCredentialRequest" />
			<wsdl:output message="v1:authenticateCredentialResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="santanderSOAP" type="v1:santander-login">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="authenticateCredential">
			<soap:operation
				soapAction="http://www.isban.es/webservices/TECHNICAL_FACADES/Security/F_facseg_security/internet/loginServicesNSegSAN/v1/NewOperation" />
			<wsdl:input>
				<soap:body
					namespace="http://www.isban.es/webservices/TECHNICAL_FACADES/Security/F_facseg_security/internet/loginServicesNSegSAN/v1"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="http://www.isban.es/webservices/TECHNICAL_FACADES/Security/F_facseg_security/internet/loginServicesNSegSAN/v1"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="santander-login">
		<wsdl:port binding="v1:santanderSOAP" name="santanderSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
