src/aggregation-lib/src/main/resources/santander-positions.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:v="http://www.isban.es/webservices/BAMOBI/Posicionglobal_lip/F_bamobi_posicionglobal_lip/internet/BAMOBIPGL/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="santander-positions"
	targetNamespace="http://www.isban.es/webservices/BAMOBI/Posicionglobal_lip/F_bamobi_posicionglobal_lip/internet/BAMOBIPGL/v1">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.isban.es/webservices/BAMOBI/Posicionglobal_lip/F_bamobi_posicionglobal_lip/internet/BAMOBIPGL/v1">
			<xsd:include schemaLocation="santander.xsd" />
			<xsd:element name="obtenerPosGlobal_LIP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="entrada" type="v:PositionsRequest" />
					</xsd:sequence>
					<xsd:attribute name="facade" use="optional" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerPosGlobal_LIPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="methodResult" type="v:PositionsResponse">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="PositionsRequest">
				<xsd:sequence>
					<xsd:element name="datosCabecera" type="v:HeaderDataEntity"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="obtSegEstructyComerMOV_LIP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="datosCabecera" type="v:HeaderDataEntity"></xsd:element>
					</xsd:sequence>
					<xsd:attribute name="facade" use="optional" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtSegEstructyComerMOV_LIPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="PositionsResponse">
				<xsd:sequence>
					<xsd:element name="nombreCliente" type="xsd:string">
					</xsd:element>
					<xsd:element name="indMigradoSEPA" type="xsd:string">
					</xsd:element>
					<xsd:element name="indMigradoDeBanesto" type="xsd:string">
					</xsd:element>
					<xsd:element name="datosUsuario" type="v:UserDataEntity"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="obtenerPosGlobal_LIPRequest">
		<wsdl:part element="v:obtenerPosGlobal_LIP" name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerPosGlobal_LIPResponse">
		<wsdl:part element="v:obtenerPosGlobal_LIPResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtSegEstructyComerMOV_LIPRequest">
		<wsdl:part name="parameters" element="v:obtSegEstructyComerMOV_LIP"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="obtSegEstructyComerMOV_LIPResponse">
		<wsdl:part name="parameters" element="v:obtSegEstructyComerMOV_LIPResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="santander-positions">
		<wsdl:operation name="obtenerPosGlobal_LIP">
			<wsdl:input message="v:obtenerPosGlobal_LIPRequest" />
			<wsdl:output message="v:obtenerPosGlobal_LIPResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtSegEstructyComerMOV_LIP">
			<wsdl:input message="v:obtSegEstructyComerMOV_LIPRequest"></wsdl:input>
			<wsdl:output message="v:obtSegEstructyComerMOV_LIPResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="santander-positionsSOAP" type="v:santander-positions">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenerPosGlobal_LIP">
			<soap:operation
				soapAction="http://www.isban.es/webservices/BAMOBI/Posicionglobal_lip/F_bamobi_posicionglobal_lip/internet/BAMOBIPGL/v1/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtSegEstructyComerMOV_LIP">
			<soap:operation
				soapAction="http://www.isban.es/webservices/BAMOBI/Posicionglobal_lip/F_bamobi_posicionglobal_lip/internet/BAMOBIPGL/v1/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="santander-positions">
		<wsdl:port binding="v:santander-positionsSOAP" name="santander-positionsSOAP">
			<soap:address
				location="https://www.bsan.mobi/SCH_BAMOBI_WS_ENS/ws/BAMOBI_WS_Def_Listener" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
